@import '~bootstrap/scss/bootstrap';
$font-color: #071630;
$background-color: #ffcba4;
$navbar-color: #ffa4ab;

body {
  background: $background-color;
}

.navbar {
  background-color: $navbar-color !important;
}

.list-group-item {
  background-color: $background-color;
  text-align: center;
}

.new-transaction-button {
  background-color: $navbar-color !important;
  color: $font-color;
  border-color: $font-color;
}

a {
  color: $font-color;

  :hover {
    text-decoration: none;
  }
}

.go-back-button,
.form-submit-button,
.last-month-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-form {
  display: inline-block;
  position: relative;
  left: 50%; // Move the element to the left by 50% of the container's width
  transform: translateX(-50%);
}

.home-page-img {
  display: inline-block;
  position: relative;
  left: 50%; // Move the element to the left by 50% of the container's width
  transform: translateX(-50%);
}

h4 {
  text-align: center;
}

h1 {
  font-family: 'Kalam', cursive;
  margin: 50px;
  text-align: center;
  color: $font-color;
}

span {
  float: right;
  text-decoration: none;
}

.categories {
  text-align: left;
}

.icons {
  max-width: 20px;
  margin-right: 15px;
}
