@import '~bootstrap/scss/bootstrap';
$font-color: #071630;
$background-color: #ffcba4;
$navbar-color: #ffa4ab;

body {
  background: $background-color;
}

.navbar {
  background-color: $navbar-color !important;
  font-size: 18px;
}

.list-group-item {
    background-color: $background-color;
    text-align: left;
    min-width: 50%;
    &:hover {
      background-color: $navbar-color;
    }
  }

.list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-transaction-button {
  background-color: $navbar-color !important;
  color: $font-color;
  border-color: $font-color;
  &:hover {
    border-color: white;
  }
}

a {
  color: $font-color;

  &:hover {
    text-decoration: none;
    color: $font-color;
  }
}

.go-back-button,
.form-submit-button,
.last-month-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
}

.submit-form {
  display: inline-block;
  position: relative;
  left: 50%; // Move the element to the left by 50% of the container's width
  transform: translateX(-50%);
}

.home-page-img {
  display: inline-block;
  position: relative;
  left: 50%; // Move the element to the left by 50% of the container's width
  transform: translateX(-50%);
}

h1 {
  font-family: 'Kalam', cursive;
  margin: 50px;
  text-align: center;
  color: $font-color;
}

h4 {
  text-align: center;
  min-width: 45%;
  margin: 40px 0 40px 0;
}

.category-name {
  font-weight: bold;
  margin: 30px 0 30px 0;
  text-align: center;
}

span {
  float: right;
  text-decoration: none;
}

.icons {
  max-width: 22px;
  margin-right: 15px;
}

.chart-title {
  margin-top: 40px;
  margin-right: 200px;
}

.chart {
  margin-left: 200px;
}

#sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  & h3 {
    text-align: center;
  }
}

.btn-light {
  color: white;
  padding: 10px 25px;
  margin-top: 10px;
  background-color: $navbar-color;
  border-color: $navbar-color;
  display: inline-block;
  position: relative;
  left: 50%; // Move the element to the left by 50% of the container's width
  transform: translateX(-50%); // Calculates 50% of the element's width and moves it by that amount across the X-axis to the left
}

.single-transaction, .total {
  text-align: center;
  &:hover {
    background-color: $background-color;
  }
}

.total {
  font-weight: bold;
}

.recommended-budget {
  margin-bottom: 100px;
}
